################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.opendb
*.db
/openCV_study/x64/Debug/openCV_study.tlog
/openCV_study/x64/Debug
